* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	background-color: #499BEDE5;
	width: 100%;
	height: 100px;
	border-radius: 50px;
	display: flex;
	justify-content: space-between;
    align-items: center;
	padding: 0 20px;
}

.left_header {
	display: flex;
	align-items: center;
	gap: 15px;
}

.logo {
	padding: 5npm px 10px;
	width: 80px;
	height: 60px;
	border-radius: 14px;
	background: #022E5B;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo img {
	width: 40px;
	height: auto;
}

.name_logo {
	font-size: 40px;
	line-height: 1;
	letter-spacing: 0;
}

.right_header {
	display: flex;
	align-items: center;
}

.courses {
	font-size: 30px;
	line-height: 1;
	letter-spacing: 0px;
}

.profile {
	padding: 20px;
	font-size: 30px;
	line-height: 1;
	letter-spacing: 0px;
	border-radius: 15px;
	border: 1px solid #000000 ;
}





