*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	display: flex;
	justify-content: space-around;
    align-items: center;
	width: 100%;
	height: 80px;
	background-color: #4574FF;
	gap: 270px;
}

.logo {
	background-image: url(../../assets/da57e25179c34ce95b605ca7e79b7c4a.jpg)  ;
	background-size: cover;
	width: 40px;
	height: 40px;
	border: 2px saddlebrown solid;
}

.input {
	width: 200px;
	padding: 5px;
	border-radius: 5px;
	
}

.GLS {
	display: flex;
	align-items: center;
	gap: 10px;
	
}

.LS {
	display: flex;
	padding: 7px;
	border-radius: 5px;
}

.pro {
	padding: 15px;
	border-radius: 50%;
}

