
.header {
	background-color: #499BEDE5;
	width: 100%;
	height: 75px;
	border-radius: 50px;
	display: flex;
	justify-content: space-between;
    align-items: center;
	padding: 0 20px;
}

.left_header {
	display: flex;
	align-items: center;
	gap: 10px;
}

.logo_container {
	width: 60px;
	height: 60px;
	border-radius: 25px;
	background: #022E5B;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	width: 40px;
	height: auto;
}

.name_logo {
	color: var(--accent-dark);
	font-size: 35px;
	line-height: 1;
	letter-spacing: 0;
}

.in_input {
    width: 374px;
    height: 45px;
    border-radius: 30px;
    background-color: #DAEAFF;
    border: none;
    outline: none;
    
    background-image: url('../../assets/Magnifying_glass.svg');
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 20px;
    padding-left: 50px; 
    font-size: 16px;
    color: black; 
}

input::placeholder {
    color: #909090;
    font-family: "Ledger", serif;
    font-size: 14px;
    font-weight: 400;
    opacity: 1;
}

.right_header {
	display: flex;
	align-items: center;
	gap: 50px;
}

.courses {
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0px;
    color: var(--accent-dark); 
}

.profile {
    padding: 10px;
    font-size: 22px;
    line-height: 1;
    letter-spacing: 0px;
    border-radius: 15px;
    border: 1px solid var(--accent-dark); 
    color: var(--accent-dark);
    transition: all 0.3s ease;
}





