*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	display: flex;
	justify-content: space-around;
    align-items: center;
	width: 100%;
	height: 80px;
	background-color: #4574FF;
	gap: 330px;
}

.logo {
	background-image: url(../../assets/da57e25179c34ce95b605ca7e79b7c4a.jpg)  ;
	background-size: cover;
	width: 50px;
	height: 50px;
	border: 2px saddlebrown solid;
	border-radius: 5px 35px 0px 35px;
}

.input {
	width: 230px;
	height: 35px;
	padding: 5px;
	border-radius: 5px;
	font-size: 17px;
}

.GLS {
	display: flex;
	align-items: center;
	gap: 25px;
	
}

.TLS {
	display: flex;
	gap: 15px;
}

.loginup,
.singup {
  	width: 65px;
}

.LS {
	padding: 0px 10px;
	line-height: 32px;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
}

.profile {
  	display: flex;
}

.pro {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	padding: 0;
	border-radius: 50%;
	border: none;
	background: transparent;
	cursor: pointer;
}

.proicon {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;

}