.uiSwitch {
  --switch-width: 85px;
  --switch-height: 38px;
  --circle-diameter: 45px;
  
  --bg-light: #deebff;
  --bg-dark: #00274d;
  --circle-bg-light: #91c2ff;
  --circle-bg-dark: #000000;

  display: inline-block;
  cursor: pointer;
  position: relative;
}

.input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.slider {
  width: var(--switch-width);
  height: var(--switch-height);
  background-color: var(--bg-light);
  border-radius: 50px;
  position: relative;
  transition: background-color 0.4s ease;
}

.circle {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  background-color: var(--circle-bg-light);
  border-radius: 50%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  
  background-image: url("../../assets/Sun.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}

.input:checked + .slider {
  background-color: var(--bg-dark);
}

.input:checked + .slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-color: var(--circle-bg-dark);
  background-image: url("../../assets/Moon.svg");
}