.inputImg {
  display: none;
}

.formUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 20px;
  border: 1px dashed #999;
  cursor: pointer;
  overflow: hidden;
  font-size: 16px;
  text-align: center;
}

.formUpload:hover {
  border-color: #de0611;
  color: #de0611;
}

.imageOnButton {
  width: 100%;
  height: 100%;
  object-fit: cover; /* картинка занимает всю кнопку без искажения */
  border-radius: initial; /* чтобы совпадало с формой кнопки */
}
